/*  your css code here. If applicable */


* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(40, 20px);
  gap: 4px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #1d1d1d;
  transition: background-color 1s ease;
}