/*  your css code here. If applicable */


* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  
}

.container {
  display: grid;
  grid-template-columns: repeat(40, 20px);
  gap: 4px;
  padding:30px 20px 20px 20px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #1d1d1d;
  transition: background-color 1s ease;
}